@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-apple-gray text-apple-dark antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-glass-bg backdrop-blur-xl border border-glass-border shadow-glass;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}